extends layout

block content
  main
    section
      h1 God List 
      each god in gods 
        p
        strong Name:  #{god.name} <br>
        strong  Title:  #{god.title} <br>
        strong  Boons: <br>
        ul
          each boon in god.boons
            li #{boon}
    section 
      h1 Add God
          
